<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= " Message From Controller : #{@controller_message} " %>
<br />
<%= " The Controller is : #{@the_controller_is} " %>
<br />
<%= link_to("Go to Index", {:action => 'index',	:id => 5, :random => "Derek"}) %>